<nav>
  <%= link_to root_path do %>
    <%= image_tag "logo_transparent.png" %>
  <% end %>
  <div class="list">
    <p class="fas fa-angle-right"></p></a>
    <ul id="inner">
     <li><%= link_to "Fashion", fashion_path, id: "fashion" %></li>
     <li><%= link_to "Theatre", theatre_path, id: "theatre" %></li>
     <li><%= link_to "About Us", about_path, id: "about" %></li>
     <li><%= link_to "Contact", contact_path, id: "contact" %></li>
    </ul>
  </div>
  <div class="socials">
    <a href="https://www.instagram.com/souvenirscenicstudios/" target="_blank"><i class="fab fa-instagram nav-item"></i></a>
    <a href="https://www.facebook.com/souvenirscenicstudiosltd/" target="_blank"><i class="fab fa-facebook nav-item"></i></a>
  </div>
</nav>
