<body class="fashion">

  <div class="fashion-container">
    <div id="carouselExampleControls" class="carousel slide fashion-carousel" data-ride="carousel">
      <div class="carousel-inner fashion-inner">
        <div class="carousel-item active">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/c_scale,h_1200,w_1800/v1628772373/Souvenir/Fashion/amq_tree_i6cceu.jpg", class: "d-block w-100", alt: "1st slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/c_scale,w_1800/v1628772368/Souvenir/Fashion/amq_rocks_igos3f.jpg", class: "d-block w-100", alt: "2nd slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/c_scale,h_1200,w_1800/v1628772372/Souvenir/Fashion/hunter_k4hrkm.jpg", class: "d-block w-100", alt: "4th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/c_scale,h_1200,w_1800/v1628772360/Souvenir/Fashion/amq_tyres_ces7zu.jpg", class: "d-block w-100", alt: "5th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/c_scale,w_1800/v1628772368/Souvenir/Fashion/amq_ss20_2_ijzh1x.jpg", class: "d-block w-100", alt: "6th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1628772375/Souvenir/Fashion/amq_grass_svxcwm.jpg", class: "d-block w-100", alt: "7th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/c_scale,w_1800/v1628772377/Souvenir/Fashion/amq_bricks_yiojqo.jpg", class: "d-block w-100", alt: "Third slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1628772381/Souvenir/Fashion/amq_bird_okzgp1.jpg", class: "d-block w-100", alt: "Third slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1628772370/Souvenir/Fashion/chris_kane_nrvzlc.jpg", class: "d-block w-100", alt: "Third slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1628772378/Souvenir/Fashion/amq_curtains_ueiheq.jpg", class: "d-block w-100", alt: "Third slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1628772383/Souvenir/Fashion/amq_carousel_vxtnzm.jpg", class: "d-block w-100", alt: "Third slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1628772386/Souvenir/Fashion/amq_voss_ve8mhg.jpg", class: "d-block w-100", alt: "Third slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1628772383/Souvenir/Fashion/amq_ss20_pzrg0t.jpg", class: "d-block w-100", alt: "Third slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/c_scale,h_1200,w_1800/v1628772367/Souvenir/Fashion/amq_karts_kukkv2.jpg", class: "d-block w-100", alt: "Third slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1628772365/Souvenir/Fashion/amq_peppers_ghost_oynitl.jpg", class: "d-block w-100", alt: "Third slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/c_scale,h_1200,w_1800/v1628786885/Souvenir/Fashion/burberry.jpg", class: "d-block w-100", alt: "Third slide" %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

</body>
