%link{rel: "canonical", href: "https://www.souvenir.co.uk/fashion"}

.fashion
  .fashion-container
    #carouselExampleControls.carousel.slide.fashion-carousel{"data-ride" => "carousel"}
      .carousel-inner.fashion-inner
        .carousel-item.active
          = image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629712650/Souvenir/Fashion/amq_tree_pgsnw0.jpg", class: "d-block", alt: "1st slide"
        .carousel-item
          = image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629712651/Souvenir/Fashion/amq_rocks_emxbf2.jpg", class: "d-block", alt: "2nd slide"
        .carousel-item
          = image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629712652/Souvenir/Fashion/burberry_hvnbyz.jpg", class: "d-block", alt: "Third slide"
        .carousel-item
          = image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629712651/Souvenir/Fashion/hunter_nkzdvy.jpg", class: "d-block", alt: "4th slide"
        .carousel-item
          = image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/c_scale,h_1200,w_1800/v1628772360/Souvenir/Fashion/amq_tyres_ces7zu.jpg", class: "d-block", alt: "5th slide"
        .carousel-item
          = image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629712650/Souvenir/Fashion/amq_ss20_2_j2maib.jpg", class: "d-block", alt: "6th slide"
        .carousel-item
          = image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629712649/Souvenir/Fashion/amq_grass_enevo4.jpg", class: "d-block", alt: "7th slide"
        .carousel-item
          = image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629712649/Souvenir/Fashion/amq_bricks_ykzvzr.jpg", class: "d-block", alt: "Third slide"
        .carousel-item
          = image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629712650/Souvenir/Fashion/amq_bird_jog5ft.jpg", class: "d-block", alt: "Third slide"
        .carousel-item
          = image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629712651/Souvenir/Fashion/chris_kane_ywgcrt.jpg", class: "d-block", alt: "Third slide"
        .carousel-item
          = image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629712649/Souvenir/Fashion/amq_curtains_ovsk3v.jpg", class: "d-block", alt: "Third slide"
        .carousel-item
          = image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629712649/Souvenir/Fashion/amq_carousel_dp1zkz.jpg", class: "d-block", alt: "Third slide"
        .carousel-item
          = image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629712652/Souvenir/Fashion/amq_voss_aksflg.jpg", class: "d-block", alt: "Third slide"
        .carousel-item
          = image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629712651/Souvenir/Fashion/amq_ss20_nbkajj.jpg", class: "d-block", alt: "Third slide"
        .carousel-item
          = image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629712649/Souvenir/Fashion/amq_karts_rtxwpc.jpg", class: "d-block", alt: "Third slide"
        .carousel-item
          = image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629712650/Souvenir/Fashion/amq_peppers_ghost_c7vx6j.jpg", class: "d-block", alt: "Third slide"
      %a.carousel-control-prev{href: "#carouselExampleControls", role: "button", "data-slide" => "prev"}
        %span.carousel-control-prev-icon{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.carousel-control-next{href: "#carouselExampleControls", role: "button", "data-slide" => "next"}
        %span.carousel-control-next-icon{"aria-hidden" => "true"}
        %span.sr-only Next
