<link rel="canonical" href="https://www.souvenir.co.uk/theatre"/>

<body class="theatre">

  <div class="theatre-container">
    <div id="carouselExampleControls" class="carousel slide fashion-carousel" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629714011/Souvenir/Theatre/back_to_the_future_j1tvez.jpg", class: "d-block", alt: "1st slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629714013/Souvenir/Theatre/and_juliet_c75m0w.jpg", class: "d-block", alt: "2nd slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629714011/Souvenir/Theatre/book_of_mormon_aeltm6.jpg", class: "d-block", alt: "3rd slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629714013/Souvenir/Theatre/matilda_sx3swz.jpg", class: "d-block", alt: "4th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/c_scale,w_1800/v1628774250/Souvenir/Theatre/back_to_the_future_car_xqwlw0.jpg", class: "d-block", alt: "13th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629714012/Souvenir/Theatre/come_from_away_yxhn9v.jpg", class: "d-block", alt: "5th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629714019/Souvenir/Theatre/made_in_dagenham_fnr1kv.jpg", class: "d-block", alt: "6th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629714018/Souvenir/Theatre/lord_of_the_flies_vv9e7z.jpg", class: "d-block", alt: "7th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629714015/Souvenir/Theatre/nutcracker_skqz8q.jpg", class: "d-block", alt: "8th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629714015/Souvenir/Theatre/strictly_ballroom_ssnfug.jpg", class: "d-block", alt: "9th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629714018/Souvenir/Theatre/present_laughter_hzqa3g.jpg", class: "d-block", alt: "10th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629714014/Souvenir/Theatre/harry_potter_g42chm.jpg", class: "d-block", alt: "11th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629714012/Souvenir/Theatre/ferryman_ry8mwp.jpg", class: "d-block", alt: "12th slide" %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

</body>
