<body class="theatre">

  <div class="theatre-container">
    <div id="carouselExampleControls" class="carousel slide fashion-carousel" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1628774279/Souvenir/Theatre/back_to_the_future_msbjhs.jpg", class: "d-block", alt: "1st slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1628774275/Souvenir/Theatre/and_juliet_npju4s.jpg", class: "d-block", alt: "2nd slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1628774283/Souvenir/Theatre/book_of_mormon_squqdn.jpg", class: "d-block", alt: "3rd slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1628774312/Souvenir/Theatre/matilda_nsko3a.jpg", class: "d-block", alt: "4th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/c_scale,w_1800/v1628774250/Souvenir/Theatre/back_to_the_future_car_xqwlw0.jpg", class: "d-block", alt: "13th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1628774263/Souvenir/Theatre/come_from_away_kn2vcp.jpg", class: "d-block", alt: "5th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/c_scale,w_1800/v1628774312/Souvenir/Theatre/made_in_dagenham_owlaxl.jpg", class: "d-block", alt: "6th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/c_scale,w_1800/v1628774304/Souvenir/Theatre/lord_of_the_flies_ympxer.jpg", class: "d-block", alt: "7th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1628774258/Souvenir/Theatre/nutcracker_rajjwc.jpg", class: "d-block", alt: "8th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1628774260/Souvenir/Theatre/strictly_ballroom_k0bgdh.jpg", class: "d-block", alt: "9th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/c_scale,w_1800/v1628774315/Souvenir/Theatre/present_laughter_i9tjhx.jpg", class: "d-block", alt: "10th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1628774303/Souvenir/Theatre/harry_potter_y3mu9t.jpg", class: "d-block", alt: "11th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1628774268/Souvenir/Theatre/ferryman_lrwtoc.jpg", class: "d-block", alt: "12th slide" %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

</body>
