<body class="theatre">

  <div class="theatre-container">
    <div id="carouselExampleControls" class="carousel slide fashion-carousel" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "theatre/back_to_the_future.jpg", class: "d-block w-100", alt: "1st slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "theatre/and_juliet.jpg", class: "d-block w-100", alt: "2nd slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "theatre/book_of_mormon.jpg", class: "d-block w-100", alt: "3rd slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "theatre/matilda.jpg", class: "d-block w-100", alt: "4th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "theatre/come_from_away.jpg", class: "d-block w-100", alt: "5th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "theatre/the_lorax.jpg", class: "d-block w-100", alt: "6th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "theatre/nutcracker.jpg", class: "d-block w-100", alt: "8th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "theatre/strictly_ballroom.jpg", class: "d-block w-100", alt: "9th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "theatre/present_laughter.jpg", class: "d-block w-100", alt: "10th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "theatre/harry_potter.jpg", class: "d-block w-100", alt: "11th slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "theatre/ferryman.jpg", class: "d-block w-100", alt: "12th slide" %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

</body>
